html, body {
	min-height: 100%;
	height:100%;
	width: 100%;
}

#downarrow {
	position: absolute;
	bottom: 16px;
	left: 50%;
	height: 48px;
	width: 48px;
	border-radius: 48px;
	background-color: #fff;
	text-align: center;
	cursor: pointer;
	box-shadow: 0 0 2px #777;
}

#downarrow > span {
	line-height: 48px;
}

#downarrow:hover {
	bottom: 12px;
}

#pageone {
	padding-top: 80px;
	width: 100%;
	min-height: 100%;
}

#pagetwo {
	padding-top: 80px;
	width: 100%;
	min-height: 100%;
}

#pagethree {
	padding-top: 80px;
	width: 100%;
	min-height: 80%;
}

#footer {
	width: 100%;
	min-height: 20%;
	background-color: #6a6a6a;
	color: #fff;
	padding-top: 12px;
}

.text {
  padding-top: 48px;
	font-size: 36pt;
}

.orangetext {
	color: #ffd964;
}

#header {
	background-color: #fff;
	box-shadow: 0 5px 5px -5px rgba(0,0,0,0.15);
	width: 100%;
	position: fixed;
  top: 0;
  bottom: auto;
  z-index: 2;
}

.logohd {
	height: 80px;
	width: 80px;
}

.btnhd {
	margin-top: 22px;
}

.linkbtn, .linkbtninit {
	background-color: #ffd964;
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 4px;
	height: 36px;
	color: #000;
	border: none;
}

.linkbtn:hover {
	background-color: #fbb03b !important;
}

.linkbtninit {
	background-color: #fff;
	border: 1px solid #ffd964 !important;
}

.linkbtninit:hover {
	border: 1px solid #fbb03b !important;
}

.linkbtnbig {
	height: 48px !important;
	padding-left: 24px !important;
	padding-right: 24px !important;
}

.directorimg {
	width: 100px;
}

.mapimg {
	width: 100%;
}

.panelbtn {
	background-color: #6a6a6a;
	border: 1px solid #fff;
	color: #fff;
	padding-left: 16px;
	padding-right: 16px;
	height: 36px;
	line-height: 36px;
	cursor: pointer;
}

.panelbtn:hover {
	background-color: #000 !important;
}

.activepanel {
	background-color: #000 !important;
}

.partnerimg {
	width: 80%;
}