html, body {
	min-height: 100%;
	height:100%;
	width: 100%;
}

#downarrow {
	position: absolute;
	bottom: 16px;
	left: 50%;
	height: 48px;
	width: 48px;
	border-radius: 48px;
	background-color: #fff;
	text-align: center;
	cursor: pointer;
	box-shadow: 0 0 2px #777;
}

#downarrow > span {
	line-height: 48px;
}

#downarrow:hover {
	bottom: 12px;
}

.sitehead {
	float: right;
	padding-left: 16px;
}

.leftheader {
	float: left;
	width: 50%;
}

.rightheader {
	float: left;
	width: 50%;
	padding-top: 16px;
}

#pageone {
	width: 100%;
	min-height: 100%;
}

#pagetwo {
	width: 100%;
	min-height: 100%;
}

#pagethree {
	width: 100%;
	min-height: 80%;
}

#footer {
	width: 100%;
	min-height: 20%;
	background-color: #aee1f0;
}

.text {
  padding-top: 48px;
	font-size: 36pt;
}

.orangetext {
	color: #ffd964;
}

#header {
	background-color: #fff;
}

.linkbtn, .linkbtninit {
	background-color: #ffd964;
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 4px;
	height: 36px;
	color: #000;
	border: none;
}

.linkbtn:hover {
	background-color: #fbb03b !important;
}

.linkbtninit {
	background-color: #fff;
	border: 1px solid #ffd964 !important;
}

.linkbtninit:hover {
	border: 1px solid #fbb03b !important;
}

.linkbtnbig {
	height: 48px !important;
	padding-left: 24px !important;
	padding-right: 24px !important;
}