<div id="header">
	<div class="col-sm-3 col-sm-offset-1 col-xs-12">
		<a href="{{ site.baseurl }}/">
			<img src="{{ site.baseurl }}/images/link/linktelecomoriginal2.png" class="logohd">
		</a>
	</div>
	<div class="col-sm-7 col-xs-12" align="right">
		<!-- <button class="linkbtn btnhd" id="homebtn">Home</button>
		<button class="linkbtn btnhd" id="aboutbtn">About Us</button>
		<button class="linkbtn btnhd" id="servicesbtn">Our Services</button>
		<button class="linkbtn btnhd" id="achievementsbtn">Our Achievements</button>
		<button class="linkbtn btnhd" id="contactbtn">Get in touch</button> -->
		<table style="text-align: right;">
			<tr>
				<td><button class="linkbtn btnhd" id="homebtn">Home</button></td>
				<td><button class="linkbtn btnhd" id="aboutbtn">About Us</button></td>
				<td><button class="linkbtn btnhd" id="servicesbtn">Our Services</button></td>
				<!-- <td><button class="linkbtn btnhd" id="achievementsbtn">Our Achievements</button></td> -->
				<td><button class="linkbtn btnhd" id="contactbtn">Get in touch</button></td>
			</tr>
			<tr>
				<td></td>
				<td><button class="linkbtn2 btndd aboutdd" id="messagebtn" hidden>Message From Board</button></td>
				<td><button class="linkbtn2 btndd servcdd" id="brandmanagementbtn" hidden>Brand Management</button></td>
				<!-- <td></td> -->
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td><button class="linkbtn2 btndd aboutdd" id="historybtn" hidden>Story</button></td>
				<td><button class="linkbtn2 btndd servcdd" id="marketdevelopmentbtn" hidden>Market Development</button></td>
				<!-- <td></td> -->
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td><button class="linkbtn2 btndd aboutdd" id="valuesbtn" hidden>Values</button></td>
				<td><button class="linkbtn2 btndd servcdd" id="valuecreationbtn" hidden>Efficiency Enhancement</button></td>
				<!-- <td></td> -->
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td><button class="linkbtn2 btndd aboutdd" id="boardbtn" hidden>Board of Directors</button></td>
				<td></td>
				<!-- <td></td> -->
				<td></td>
			</tr>
		</table>
	</div>
</div>
<script type="text/javascript" src="{{ site.baseurl }}/js/header.js"></script>